.idea/
gradle/
gradle.properties
gradlew
gradlew.bat
settings.gradle
out/
.gradle/
src/main/resources/frontend/monaco/monaco
src/main/resources/frontend/monaco/filedata
src/main/resources/frontend/monaco/filedata2
src/main/resources/frontend/monaco/Semantic-UI
filedata/
build/